<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Colorlib Templates" />
    <meta name="author" content="Colorlib" />
    <meta name="keywords" content="Colorlib Templates" />

    <!-- Title Page-->
    <title>Scraper</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all" />
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <!-- Main CSS-->
    <style>
      .font-robo {
        font-family: 'Roboto', 'Arial', 'Helvetica Neue', sans-serif;
      }

      .font-poppins {
        font-family: 'Poppins', 'Arial', 'Helvetica Neue', sans-serif;
      }

      /* ==========================================================================
   #GRID
   ========================================================================== */
      .loader {
        border: 5px solid #f3f3f3;
        border-top: 5px solid #3498db;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        animation: spin 2s linear infinite;
        margin: auto;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }

      .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }

      .row-space {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }

      .col-2 {
        width: -webkit-calc((100% - 30px) / 2);
        width: -moz-calc((100% - 30px) / 2);
        width: calc((100% - 30px) / 2);
      }

      @media (max-width: 767px) {
        .col-2 {
          width: 100%;
        }
      }

      /* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
      /**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
      html {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      * {
        padding: 0;
        margin: 0;
      }

      *,
      *:before,
      *:after {
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        box-sizing: inherit;
      }

      /* ==========================================================================
   #RESET
   ========================================================================== */
      /**
 * A very simple reset that sits on top of Normalize.css.
 */
      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      blockquote,
      p,
      pre,
      dl,
      dd,
      ol,
      ul,
      figure,
      hr,
      fieldset,
      legend {
        margin: 0;
        padding: 0;
      }

      /**
 * Remove trailing margins from nested lists.
 */
      li > ol,
      li > ul {
        margin-bottom: 0;
      }

      /**
 * Remove default table spacing.
 */
      table {
        border-collapse: collapse;
        border-spacing: 0;
      }

      /**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
      fieldset {
        min-width: 0;
        /* [1] */
        border: 0;
      }

      button {
        outline: none;
        background: none;
        border: none;
      }

      /* ==========================================================================
   #PAGE WRAPPER
   ========================================================================== */
      .page-wrapper {
        min-height: 100vh;
      }

      body {
        font-family: 'Poppins', 'Arial', 'Helvetica Neue', sans-serif;
        font-weight: 400;
        font-size: 14px;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: 400;
      }

      h1 {
        font-size: 36px;
      }

      h2 {
        font-size: 30px;
      }

      h3 {
        font-size: 24px;
      }

      h4 {
        font-size: 18px;
      }

      h5 {
        font-size: 15px;
      }

      h6 {
        font-size: 13px;
      }

      /* ==========================================================================
   #BACKGROUND
   ========================================================================== */
      .bg-blue {
        background: #2c6ed5;
      }

      .bg-red {
        background: #fa4251;
      }

      .bg-gra-01 {
        background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
        background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
        background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
        background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
        background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
      }

      .bg-gra-02 {
        background: -webkit-gradient(linear, left bottom, right top, from(#fc2c77), to(#6c4079));
        background: -webkit-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
        background: -moz-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
        background: -o-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
        background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
      }

      /* ==========================================================================
   #SPACING
   ========================================================================== */
      .p-t-100 {
        padding-top: 100px;
      }

      .p-t-130 {
        padding-top: 130px;
      }

      .p-t-180 {
        padding-top: 180px;
      }

      .p-t-20 {
        padding-top: 20px;
      }

      .p-t-15 {
        padding-top: 15px;
      }

      .p-t-10 {
        padding-top: 10px;
      }

      .p-t-30 {
        padding-top: 30px;
      }

      .p-b-100 {
        padding-bottom: 100px;
      }

      .m-r-45 {
        margin-right: 45px;
      }

      /* ==========================================================================
   #WRAPPER
   ========================================================================== */
      .wrapper {
        margin: 0 auto;
      }

      .wrapper--w960 {
        max-width: 960px;
      }

      .wrapper--w780 {
        max-width: 780px;
      }

      .wrapper--w680 {
        max-width: 880px;
      }

      /* ==========================================================================
   #BUTTON
   ========================================================================== */
      .btn {
        display: inline-block;
        line-height: 50px;
        padding: 0 50px;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
        cursor: pointer;
        font-size: 18px;
        color: #fff;
        font-family: 'Poppins', 'Arial', 'Helvetica Neue', sans-serif;
      }

      .btn--radius {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
      }

      .btn--radius-2 {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }

      .btn--pill {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
      }

      .btn--green {
        background: #57b846;
      }

      .btn--green:hover {
        background: #4dae3c;
        color: #fff;
      }

      .btn--blue {
        background: #4272d7;
        color: #fff;
        height: 52px;
      }

      .btn--blue:hover {
        background: #3868cd;
        color: #fff;
      }

      /* ==========================================================================
   #FORM
   ========================================================================== */
      input {
        outline: none;
        margin: 0;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 100%;
        font-size: 14px;
        font-family: inherit;
      }

      .input--style-4 {
        line-height: 50px;
        background: #fafafa;
        -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 0 20px;
        font-size: 16px;
        color: #666;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
      }

      .input-width {
        display: block;
        width: 100% !important;
      }

      .scrap-btn {
        text-align: center;
      }

      .input--style-4::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #666;
      }

      .input--style-4:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #666;
        opacity: 1;
      }

      .input--style-4::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #666;
        opacity: 1;
      }

      .input--style-4:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #666;
      }

      .input--style-4:-ms-input-placeholder {
        /* Microsoft Edge */
        color: #666;
      }

      .label {
        font-size: 16px;
        color: #555;
        text-transform: capitalize;
        display: block;
        margin-bottom: 5px;
      }

      .input-group {
        position: relative;
        margin-bottom: 22px;
      }

      .input-group-icon {
        position: relative;
      }

      .input-icon {
        position: absolute;
        font-size: 18px;
        color: #999;
        right: 18px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        cursor: pointer;
      }

      /* ==========================================================================
   #TITLE
   ========================================================================== */
      .title {
        font-size: 34px;
        color: #525252;
        text-align: center;
        font-weight: 500;
        margin-bottom: 30px;
      }

      /* ==========================================================================
   #CARD
   ========================================================================== */
      .card {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background: #fff;
      }

      .card-4 {
        background: #fff;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
      }

      .card-4 .card-body {
        padding: 57px 65px;
        text-align: center;
        padding-bottom: 65px;
      }

      /* ==========================================================================
   #Loader
   ========================================================================== */
      #loader {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.75) url(../vendor/images/laoder.gif) no-repeat center center;
        z-index: 10000;
      }

      @media (max-width: 767px) {
        .card-4 .card-body {
          padding: 50px 40px;
        }
      }

      .btn-run {
        display: none;
      }
    </style>
  </head>

  <body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
      <div class="wrapper wrapper--w680">
        <div class="card card-4">
          <div class="card-body">
            <h2 class="title">Scraping Tool</h2>
            <form method="GET" action="/submit" id="form">
              <div class="row">
                <div class="col-12 input-width">
                  <div class="input-group">
                    <label class="label">Enter URL Here:</label>
                    <input class="input--style-4" type="text" name="name" required />
                  </div>
                  <p style="color: olivedrab; text-align: left; font-size: 12px;">Hint: https://www.truckdriver.com/trucking-company-directory/ShowDOTCoByState.cfm?PHY_NATN=US&PHY_ST=AL&vcAStart=A&vcAEnd=A&SR=1&MT=2</small>
                  <ul style="list-style: none; text-align: left; color: olivedrab; margin-top: 20px; font-size: 12px;">
                    <li style="margin: 10px 0">You can change these values as per requirement:</li>
                    <li>PHY_ST: Parameter for State.</li>
                    <li>vcAStart: Parameter for Start Value eg: 0, A, B, 9</li>
                    <li>vcAEnd: Parameter for End Value. It should be greater then Start Value eg: D, E, F ... Z</li>
                  </ul>
                </div>
              </div>
              <div class="scrap-btn mt-4">
                <button class="btn btn--radius-2 btn--blue" type="submit" value="Submit">
                  <span class="btn-text"><i class="fa fa-download"></i> &nbsp; Run Scraper</span>
                </button>
              </div>
            </form>

            <button class="btn btn--radius-2 btn--blue btn-run" type="button">
              <div class="loader"></div>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Jquery JS-->
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/json2csv"></script>

    <script>
      function convertToCSV(objArray) {
        var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;
        var str = '';

        for (var i = 0; i < array.length; i++) {
          var line = '';
          for (var index in array[i]) {
            if (line != '') line += ',';

            line += array[i][index];
          }

          str += line + '\r\n';
        }

        return str;
      }
      function exportCSVFile(headers, items, fileTitle) {
        if (headers) {
          items.unshift(headers);
        }

        // Convert Object to JSON
        var jsonObject = JSON.stringify(items);

        var csv = this.convertToCSV(jsonObject);

        var exportedFilenmae = fileTitle + '.csv' || 'export.csv';

        var blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });
        if (navigator.msSaveBlob) {
          // IE 10+
          navigator.msSaveBlob(blob, exportedFilenmae);
        } else {
          var link = document.createElement('a');
          if (link.download !== undefined) {
            // feature detection
            // Browsers that support HTML5 download attribute
            var url = URL.createObjectURL(blob);
            link.setAttribute('href', url);
            link.setAttribute('download', exportedFilenmae);
            link.style.visibility = 'hidden';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
          }
        }
      }
      $('#form').submit(function () {
        $('.scrap-btn').hide();
        $('.btn-run').show();
        $.ajax({
          url: $('#form').attr('action'),
          type: 'GET',
          data: $('#form').serialize(),
          success: function (data) {
            if (data.error) alert(data.error);

            $('.scrap-btn').show();
            $('.btn-run').hide();
            const fields = ['URL', 'Name', 'Address', 'Phone', 'USDOT Number', 'Safety Rating', 'Cargo Types', 'Fleet Size', 'MCS-150 Mileage', 'MCS-150 Mileage Year', 'Total Trucks', 'Total Drivers'];
            exportCSVFile(fields, data, 'download');
          },
        });
        return false;
      });
    </script>
  </body>
</html>
